<ion-header class="popover">
</ion-header>
<ion-content lass="popover">
  <ion-card-subtitle class="popover">
    <ion-item>
        <ion-row style="height: 10px"></ion-row>
      <ion-thumbnail slot="start">
        <ion-avatar  ><img src="../../assets/img/user_account_profile_avatar_person_businessman_old-512.png"></ion-avatar>
      </ion-thumbnail>
    
    </ion-item>
    <p class="ion-padding-start">Kealebogile Itumeleng</p>
  </ion-card-subtitle>

  <p class="ion-padding-start" color="dark">Application support new associate </p>
  <!-- <p size="small" color="dark">Kealebogile Itumeleng</p> -->
  <p class="ion-padding-start" color="dark">+27 73 433 2223</p>
  <p class="ion-padding-start" position="floating" style="color:darkgray">Current Project</p>
  <p class="ion-padding-start" color="dark">Absa Website</p>

  <p class="ion-padding-start" position="floating" style="color:darkgray">Skills</p>
  <p class="ion-padding-start" color="dark">Javascript</p>
  <p class="ion-padding-start" color="dark"> Angular JS</p>
  <p class="ion-padding-start" color="dark"> AdobeXD</p>

</ion-content>