<ion-header>
  </ion-header>
<ion-content >
<ion-card class="popover-content" >
    <ion-card-header>
      <ion-item>
          <ion-thumbnail slot="start">
              <ion-avatar><img src="../../assets/img/user_account_profile_avatar_person_businessman_old-512.png"></ion-avatar>
            </ion-thumbnail>
      </ion-item>
      <ion-card-title>Kealebogile Itumeleng</ion-card-title>
    </ion-card-header>
    <ion-card-content >
        <ion-card-subtitle color="dark">Application support associate</ion-card-subtitle>
        <ion-text size="small" color="dark">obakeng.phikiso@accenture.com</ion-text>
        <ion-card-subtitle padding color="dark">+27 73 433 2223</ion-card-subtitle>
        <ion-label position="floating" style="color:darkgray">Current Project</ion-label>
        <ion-card-subtitle padding color="dark">Absa Website</ion-card-subtitle>

        <ion-label position="floating" style="color:darkgray">Skills</ion-label>
        <ion-card-subtitle padding color="dark">Javascript, Angular JS, AdobeXD</ion-card-subtitle>
    </ion-card-content>
  </ion-card>
</ion-content>