.filebtn {
	opacity: 0;
	position: absolute;
	top: -100em;
	left: -100em;
}

.profile-pic {
	width: 100px;
	height: 100px;
}
ion-content.background{
	// --background: url(../../assets/Background1.png) 0 0/100%  no-repeat;
	--background: -webkit-linear-gradient(left, #dfdfeb, #e02f9c);
 
	}
	
	#buttonColor{
        
        --background: #960584;
	}
	
		
