<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" name="arrow-round-back" size="large" routerLink="/tabs/profile" size="large"></ion-icon>
    <ion-title>edit-profile</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding class="background">

  <!-- <ion-card> -->

  <input type="file" #fileBtn class="filebtn" (change)="uploadPic($event)" />
  <div>
    <ion-item>
        <ion-thumbnail slot="start">
      <ion-avatar> <img src="https://ucarecdn.com/{{ profilePic }}/-/scale_crop/150x150/center/"  (click)="updateProfilePic()" > </ion-avatar>
      </ion-thumbnail>
    
    </ion-item>
  </div>

  <!-- </ion-card> -->



  <div class="profile-info">

    <ion-item>
      <ion-label position="floating" style="color:darkgray">EID Enterprice</ion-label>
      <ion-input [(ngModel)]="data.email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" style="color:darkgray">First name(s) </ion-label>
      <ion-input [(ngModel)]="name" placeholder="">{{ data.name }}</ion-input>
    </ion-item>

 <ion-item>
        <ion-label position="floating" style="color:darkgray">Surname</ion-label>
        <ion-input [(ngModel)]="data.last_name"> {{ data.last_name }} </ion-input>
      </ion-item>

    <ion-item>
      <ion-label position="floating" style="color:darkgray">Nick name</ion-label>
      <ion-input [(ngModel)]="nick_name" placeholder=""> {{ data.nick_name }} </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" style="color:darkgray">Career level</ion-label>
      <ion-input [(ngModel)]="level" placeholder=""> {{ data.level }} </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" style="color:darkgray">Cell number</ion-label>
      <ion-input [(ngModel)]="cellnumber" placeholder=""> {{ data.cellnumber }} </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" style="color:darkgray">Birth date</ion-label>
      <ion-input [(ngModel)]="b_day" placeholder=""> {{ data.b_day }} </ion-input>
    </ion-item>
    <div>


     

    </div>
  </div>
  
<ion-item>
  
    <ion-button style="text-transform: none;" slot="end" id="buttonColor" shape="round" (click)="presentAlertConfirm()" (click)="updateDetails()" size="medium">
        Update     
  </ion-button>
  
</ion-item>
</ion-content>