<ion-header>
  <ion-toolbar routerLink="/tabs/profile">
    <ion-icon routerLink="/tabs/profile" slot="start" name="arrow-round-back" size="large" size="large"></ion-icon>
    <ion-title>Edit profile</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding class="background">


  <input type="file" #fileBtn name="image" #image (change)="uploadImg(image)" class="filebtn" />
  <div>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-avatar class="item item-avatar">
          <img src="{{ avatar }}" (click)="updateProfilePicture()">
        </ion-avatar>
      </ion-thumbnail>
      <ion-label>
        <ion-label position="floating">Nick name & Surname</ion-label>
        <ion-input disable="true" readonly="true" [(ngModel)]="name"
          placeholder='{{nickname | titlecase }} {{surname | titlecase}}'></ion-input>
      </ion-label>
    </ion-item>

  </div>

  <ion-item>
    <div class="container" id="grad">


      <div [hidden]="submitted">
        <form (ngSubmit)="onSubmit()" #heroForm="ngForm">

          <div class="form-group">
            <ion-item>
              <ion-label position="floating" for="First_name">First name</ion-label>
              <ion-input type="text" class="form-control" id="name" required [(ngModel)]="name" name="name"
                #First_name="ngModel"></ion-input>
            </ion-item>
            <div [hidden]="First_name.valid || First_name.pristine" class="alert-danger">

              First name(s) is required

            </div>
          </div>


          <div class="form-group">
            <ion-item>
              <ion-label position="floating" for="First_name">Surname</ion-label>
              <ion-input type="text" class="form-control" id="surname" required [(ngModel)]="surname" name="surname"
                #First_name="ngModel"></ion-input>
            </ion-item>
            <div [hidden]="First_name.valid || First_name.pristine" class="alert-danger">

              Surname is required

            </div>
          </div>

          <div class="form-group">
            <ion-item>
              <ion-label position="floating" for="First_name">Career Level</ion-label>
              <ion-input type="text" class="form-control" id="careerLevel" required [(ngModel)]="careerLevel"
                name="careerLevel" #First_name="ngModel"></ion-input>
            </ion-item>
            <div [hidden]="First_name.valid || First_name.pristine" class="alert-danger">

              Career level is required

            </div>
          </div>

          <div class="form-group">
            <ion-item>
              <ion-label position="floating" for="First_name">Mobile nubmer</ion-label>
              <ion-input type="text" class="form-control" id="mobile" required [(ngModel)]="mobile" name="mobile"
                #First_name="ngModel"></ion-input>
            </ion-item>
            <div [hidden]="First_name.valid || First_name.pristine" class="alert-danger">

              Mobile number is required

            </div>
          </div>

          <div class="form-group">
            <ion-item>
              <ion-label position="floating" for="First_name">Nickname</ion-label>
              <ion-input type="text" class="form-control" id="nickname" required [(ngModel)]="nickname" name="nickname"
                #First_name="ngModel"></ion-input>
            </ion-item>
            <div [hidden]="First_name.valid || First_name.pristine" class="alert-danger">

              Nickname is required

            </div>
          </div>


          <ion-item>

            <ion-button style="text-transform: none;" slot="end" id="buttonColor" shape="square"
              (click)="presentAlertConfirm()" (click)="createPost()" size="medium" (click)="updateDetails()"
              [disabled]="!heroForm.valid">
              Update
            </ion-button>

          </ion-item>

        </form>
      </div>
    </div>
  </ion-item>
</ion-content>