<ion-header>
	<ion-toolbar>
		<ion-title>Leave</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>
		<input type="file" *ngIf="!imageURL" (change)="fileChanged($event)" class="filebtn" #fileButton  />


		<div *ngIf="imageURL">
						<ion-img src="https://ucarecdn.com/{{ imageURL }}/"></ion-img>
						<ion-card-content>
			  <ion-textarea placeholder="Enter some description" [(ngModel)]="desc"></ion-textarea>
			  <ion-textarea placeholder="Enter a name" [(ngModel)]="name"></ion-textarea>
							<ion-button shape="round" color="primary" (click)="createPost()">POST</ion-button>
						</ion-card-content>
				
		</div>	
</ion-content>