<ion-header>
	<ion-toolbar>
		<div slot="end">Logout </div>
		<ion-icon slot="end" name="Log-out" size="large" (click)="presentAlertConfirm()">Logout </ion-icon>
		<ion-title>Leave</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>

	<ion-card>

		<ion-item>
			Current status:<div slot="end">Leave not Taken</div>
		</ion-item>

	</ion-card>
	<div>
		<div>

			<ion-card>
				<ion-item>Eployee ID: 11666979 </ion-item>

				<ion-item>Next Leave start date: 03/01/19</ion-item>

				<ion-item>End of next leave date: 03/01/19 </ion-item>
			</ion-card>
		</div>
	</div>

</ion-content>