<ion-header>
  <ion-toolbar>
      <ion-icon slot="start" name="close-circle" size="large" (click)="presentAlertConfirm()"></ion-icon>
    <ion-title>Projects</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>

        <ion-item>
          Current status:<div slot="end">Assigned</div>
        </ion-item>
       
        </ion-card>
       <div>
        <div>
      
       
        <ion-item>Project Name:  </ion-item>
       
        <ion-item>Start date: 03/01/19</ion-item>
       
        <ion-item>Actual Roll off date:   </ion-item>
       
        </div>
        </div>

</ion-content>
