<ion-header>
  <ion-toolbar>
      <ion-icon slot="start" name="arrow-round-back" size="large" routerLink="/tabs/info" size="large"></ion-icon>
    <ion-title>about-skill</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <div *ngIf="skills">
    
        <div *ngFor="let post of skills; let i = index">
          
            <ion-list> {{i}}
                
                <ion-item>
                  <ion-label position="floating" style="color:darkgray"> Skill </ion-label>
                  <ion-input  placeholder=''>{{ post.skill }}</ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating" style="color:darkgray">level</ion-label>
                  <ion-input  placeholder=''>{{ post.level }}</ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating" style="color:darkgray">Last used </ion-label>
                  <ion-input  placeholder=''>{{ post.last_used }}</ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating" style="color:darkgray">Origin</ion-label>
                  <ion-input  placeholder=''>{{ post.origin }}</ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating" style="color:darkgray">Months of active experience</ion-label>
                  <ion-input  placeholder=''>{{ post.months_active }}</ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating" style="color:darkgray">Are you currently developing skill?</ion-label>
                    <ion-input  placeholder=''>{{ post.developing }}</ion-input>
                  </ion-item>
              </ion-list>
        </div>
      </div>

</ion-content>
