<ion-header>

	<ion-toolbar>
		<ion-title></ion-title>

	</ion-toolbar>
</ion-header>

<ion-content id="grad">

	<!-- <ion-content class="background"> -->

	<!-- </ion-content> -->
	<img src="https://i.imgur.com/6QycNwf.png" />
	<!-- <img src="http://tpc.syrenis.com/assets/images/uploads/the-preference-centre.png" /> -->

	<!-- <ion-label align="center" padding>
		<h1 padding><strong>Team Portal</strong></h1>
	</ion-label> -->
</ion-content>




<ion-footer padding id="grad">
	<ion-label position="floating">Enterprise ID</ion-label>
	<ion-input type="text" [(ngModel)]="username"></ion-input>



	<ion-label position="floating">Password</ion-label>
	<ion-input type="password" [(ngModel)]="password"></ion-input>



	<ion-button style="text-transform: none;" id="Login" shape="square" expand="block" (click)="login()" size="medium">Login</ion-button>

</ion-footer>