<ion-header id="grad">
	<ion-toolbar>
		<ion-title></ion-title>
	</ion-toolbar>
</ion-header>

<ion-content id="grad">

	<img src="//i.imgur.com/maaghN7.png" />



</ion-content>



<ion-footer id="grad">
	<ion-item>
		<ion-label position="floating">Enterprise ID</ion-label>
		<ion-input type="text" [(ngModel)]="username"  placeholder=""></ion-input>
	</ion-item>

	<ion-item>
		<ion-label position="floating">Password</ion-label>
		<ion-input type="password" [(ngModel)]="password" placeholder="">
		</ion-input>
	</ion-item>


	<ion-button style="text-transform: none;" id="Login" shape="round" expand="block" (click)="login()" size="medium">
		Login</ion-button>

</ion-footer>