<ion-tabs #tabs>
	<ion-tab-bar slot="bottom">
		<ion-tab-button tab="profile">
				<ion-icon name="contact"  color="dark"></ion-icon>
			<ion-label color='dark'>Profile</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="projects">
				<ion-icon name="folder" color="dark"></ion-icon>
			<ion-label color='dark'>Projects</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="info">
				<ion-icon name="laptop" color="dark"></ion-icon>
				<ion-label color='dark'>Skills</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="members">
				<ion-icon name="search" color="dark"></ion-icon>
				<ion-label color='dark'>Members</ion-label>
		</ion-tab-button>


	</ion-tab-bar>
</ion-tabs>
