<ion-tabs #tabs>
	<ion-tab-bar slot="bottom">
		<ion-tab-button tab="profile">
				<ion-icon name="contact"  color="success"></ion-icon>
			<ion-label>Profile</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="projects">
				<ion-icon name="folder" color="warning"></ion-icon>
			<ion-label>Projects</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="info">
				<ion-icon name="laptop" color="danger"></ion-icon>
				<ion-label>Skills</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="demo">
				<ion-icon name="airplane" color="secondary"></ion-icon>
			<ion-label>Leave</ion-label>
		</ion-tab-button>

	</ion-tab-bar>
</ion-tabs>
