<ion-header>
  <ion-toolbar><div slot="end">Logout </div>
    <ion-icon slot="end" name="Log-out" size="large" (click)="presentAlertConfirm()"> </ion-icon>
    <ion-title>Skills</ion-title>
  </ion-toolbar>
  <ion-searchbar color="dark"></ion-searchbar>
</ion-header>

<ion-content>
<ion-item>Skill Name: <div slot="end">Skill level: (10)</div>  </ion-item>

  <div *ngIf="skills">
    
    <div *ngFor="let post of skills">
      <ion-list>
      <ion-item>
        <ion-label>{{ post.skill }} </ion-label>
        <ion-item slot="end"> {{ post.level }} </ion-item>
        <ion-item slot="start" color="dark">
          <ion-icon name="school"></ion-icon>
        </ion-item>
      </ion-item>
    </ion-list>

    </div>
  </div>
  <div>
    <ion-button padding shape="round" routerLink="/tabs/skills" size="small" fill="solid" slot="start" color="dark">Add-Skill
    </ion-button>

  </div>

</ion-content>