<ion-header>
    <ion-toolbar>
        <ion-icon slot="start" name="arrow-round-back" size="large" routerLink="/tabs/info" size="large"></ion-icon>
      <ion-title>Skills-Update</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding class="background">
    
       <div>    
          <ion-item>
              <ion-label position="floating" style="color:darkgray">Skill</ion-label>
            <ion-textarea  [(ngModel)]="skill">{{ user.skill }}</ion-textarea>
          </ion-item>
          <ion-item>
              <ion-label position="floating" style="color:darkgray">Skill level</ion-label>
              <ion-select [(ngModel)]="level">
                  <ion-select-option value="1" selected="true">1</ion-select-option>
                  <ion-select-option value="2">2</ion-select-option>
                  <ion-select-option value="3">3</ion-select-option>
                  <ion-select-option value="4">4</ion-select-option>
                  <ion-select-option value="5">5</ion-select-option>
                  <ion-select-option value="6">6</ion-select-option>
                  <ion-select-option value="7">7</ion-select-option>
                  <ion-select-option value="8">8</ion-select-option>
                  <ion-select-option value="9">9</ion-select-option>
                  <ion-select-option value="10">10</ion-select-option>
                
              </ion-select>
            {{ user.level }}
          </ion-item>
          
          <ion-item>
              <ion-label position="floating" style="color:darkgray">Last date the skill was used</ion-label>
              <ion-datetime [(ngModel)]="last_used" display-format="YYYY,MMM DD"></ion-datetime>
            {{ user.last_used }}
          </ion-item>
          <ion-item>
              <ion-label position="floating" style="color:darkgray">Skill origin</ion-label>

              <ion-select [(ngModel)]="origin">
                  <ion-select-option value="University" selected="true">University</ion-select-option>
                  <ion-select-option value="Online course">Online course</ion-select-option>
                  <ion-select-option value="Other">Other</ion-select-option>
                
              </ion-select>
            {{ user.origin }}
          </ion-item>
          <ion-item>
              <ion-label position="floating" style="color:darkgray">Skill's months active</ion-label>
            <ion-textarea [(ngModel)]="months_active">{{ user.months_active }}</ion-textarea>
          </ion-item>
          <ion-item>
              <ion-label position="floating" style="color:darkgray">Currently developing skill?</ion-label>
                  <ion-select [(ngModel)]="developing">
                  <ion-select-option value="yes" selected="true">Yes</ion-select-option>
                  <ion-select-option value="no">No</ion-select-option>
                
              </ion-select>
              {{ user.developing }}
          </ion-item>
        </div>     
      
      <ion-button shape="round" expand="block" (click)="createPost()" color="tertiary"  size="small">Save</ion-button>
  </ion-content>