<ion-header>
     <ion-toolbar>
     <ion-icon name="md-create" slot="end" size="large" routerLink="/tabs/edit-profile"></ion-icon>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content padding class="background">
      
  <ion-list id="profile-info" *ngIf="res">
   <!--
     <ion-item>
      <ion-thumbnail slot="start">
        <ion-avatar><img src="https://ucarecdn.com/{{ profilePic }}/-/scale_crop/200x200/center/"></ion-avatar>
      </ion-thumbnail>
      <ion-row style="height: 20px"></ion-row>
      <ion-label>

        <ion-label position="floating">Nick name & Surname</ion-label>
        <ion-input disable="true" readonly="true" [(ngModel)]="name" placeholder=' {{ data.nick_name }} {{ data.last_name }} '></ion-input>
      </ion-label>
    </ion-item>
   --> 

    <div *ngIf="res">

        <div>
            <ion-item>
              <ion-thumbnail slot="start">
                <ion-avatar> <img src="https://ucarecdn.com/{{ profilePic }}/-/scale_crop/150x150/center/"
                    (click)="updateProfilePic()"> </ion-avatar>
              </ion-thumbnail>
              {{ res.name }}
            </ion-item>
          </div>

        <div class="profile-info" >
            <ion-item *ngIf="res">
              <ion-label position="floating">Name</ion-label>
              <ion-input disable="false" color="dark" placeholder=''>{{ res.name }}</ion-input>
            </ion-item>
          </div>
      <div class="profile-info">
        <ion-item *ngIf="res">
          <ion-label position="floating">Surname</ion-label>
          <ion-input disable="false" color="dark" placeholder=''>{{ res.surname }}</ion-input>
        </ion-item>
      </div>

      <div class="profile-info">
        <ion-item *ngIf="res">
          <ion-label position="floating">Career Level</ion-label>
          <ion-input disable="true" color="dark" placeholder=''>{{ res.careerLevel }}</ion-input>
        </ion-item>
      </div>

      <div class="profile-info">
        <ion-item *ngIf="res">
          <ion-label position="floating">Mobile Number</ion-label>
          <ion-input disable="true" color="dark" placeholder=''>{{ res.mobile }}</ion-input>
        </ion-item>
      </div>

      <div class="profile-info">
        <ion-item *ngIf="res">
          <ion-label position="floating">Email</ion-label>
          <ion-input disable="true" placeholder=''>{{ res.email }}</ion-input>
        </ion-item>
      </div>

    </div>


    <!-- <ion-item>
      <ion-button shape="round" color="primary" routerLink="/tabs/edit-profile" slot="end" size="small" fill="outline"
        slot="end" color="dark">Edit</ion-button>
    </ion-item> -->

  </ion-list>
</ion-content>
