#images {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	max-width: 100%;
	width: 606px;
}

.image {
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
}

.main-image, .user-image {
	width: 200px;
	height: 200px;
}
ion-content.background{
	// --background: url(../../assets/Background1.png) 0 0/100%  no-repeat;
	--background: -webkit-linear-gradient(left, #dfdfeb, #e02f9c);
 
	}
	
	#buttonColor{
        
        --background: #960584;
	}
	ion-title {
		position: absolute;
		top: 0;
		left: 0;
		padding: 0 90px 1px;
		width: 100%;
		height: 100%;
		text-align: center;
	  }
