<ion-header>
  <ion-toolbar>
      <ion-icon (click)="presentAlertConfirm()" slot="start" name="close-circle" size="large"></ion-icon>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-card id="profile-info" *ngIf="username">
    <ion-item>
        <ion-thumbnail slot="start">
            <ion-img src="https://ucarecdn.com/{{ profilePic }}/-/scale_crop/200x200/center/"></ion-img>
        </ion-thumbnail>
        <ion-label>{{ username }}</ion-label>
              </ion-item>
            </ion-card>

              <ion-card>

                
          <div *ngIf="data">


              <div>

                  <ion-item>
                      <ion-label>{{ data.occupation }}</ion-label>
                      <ion-note slot="start" color="dark"><ion-icon name="school" ></ion-icon></ion-note>
                    </ion-item>

                    <ion-item>
                        <ion-label>{{ data.email }}</ion-label>
                        <ion-note slot="start" color="dark"><ion-icon name="mail" ></ion-icon></ion-note>
                      </ion-item>

              <ion-item>
                <ion-label>{{ data.cellnumber }}</ion-label>
                <ion-note slot="start" color="dark"><ion-icon name="call" ></ion-icon></ion-note>
              </ion-item>

              <ion-item>
                  <ion-label>{{ data.name }}</ion-label>
                  <ion-note slot="start" color="dark"><ion-icon name="contact" ></ion-icon></ion-note>
                </ion-item>

                <ion-item>
                    <ion-label>{{ data.phone }}</ion-label>
                    <ion-note slot="start" color="dark"><ion-icon name="phone-portrait" ></ion-icon></ion-note>
                  </ion-item>

                  <ion-item>
                      <ion-label>{{ data.location }}</ion-label>
                      <ion-note slot="start" color="dark"><ion-icon name="map" ></ion-icon></ion-note>
                    </ion-item>

                    <ion-item>
                        <ion-label>Career level    :{{ data.level }}</ion-label>
                        <ion-note slot="start" color="dark"><ion-icon name="ribbon" ></ion-icon></ion-note>
                      </ion-item>
                </div>
              </div>

              <ion-item>
                  <ion-button  shape="round" color="primary" routerLink="/tabs/edit-profile" slot= "end" size="small" fill="outline" slot="end" color="dark">Edit</ion-button>
              </ion-item>
      
            </ion-card>

</ion-content>
