#images {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	max-width: 100%;
	width: 606px;
}

.image {
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
}

.main-image, .user-image {
	width: 200px;
	height: 200px;
}
ion-content.background{
	// --background: url(../../assets/Background1.png) 0 0/100%  no-repeat;
	--background: -webkit-linear-gradient(left, #dfdfeb, #e02f9c);
 
    }