.popover {
  --height: 175%;
  --width: 175%;
  // background-color: #960584;
  width: 100%;
  height: 100%;
}
#buttonColor {
  --background: #960584;
}

// .ioncard.popover-content sc-ion-card-md-h sc-ion-card-md-s{
//   width: 450px;
// }
.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42a948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}

.alert-danger {
  padding: 5px;
  background-color: #ffafaf; /* Red */
  color: #960303;
}
ion-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
}
