
<ion-item class="child-item" text-wrap detail="false" lines="none">
    <ion-row class="backgroundColor" no-padding align-items-center>
      <ion-col size="9">
        <ion-row no-padding>
          <ion-col size="12">
            <ion-label style="color:darkgray">Skill</ion-label>
            {{skills.Skill}}
          </ion-col>
           <ion-col size ="12" >
              <ion-label style="color:darkgray">Level</ion-label>
            {{skills.Level}}
          </ion-col>
          <ion-col size ="12">
              <ion-label style="color:darkgray">Date last used</ion-label>
              {{skills.Date_last_used}}
            </ion-col>
            <ion-col size ="12">
              <ion-label style="color:darkgray">Origin</ion-label>
              {{skills.Origin}}
            </ion-col>
            <ion-col size ="12">
              <ion-label style="color:darkgray">Months of active experience</ion-label>
              {{skills.Months}}
            </ion-col>
            <ion-col size ="12">
                <ion-label style="color:darkgray">Are you currenlty developing this skill?</ion-label>
                {{skills.DevelopingSkill}}
              </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-item>
  
