ion-content.background{
    --background: -webkit-linear-gradient(left, #dfdfeb, #e02f9c);
 
    }

    #buttonColor{
        --background: #960584;
    }

    img.background{
        --background: url(../../assets/img/lady_avatar-512.png) 0 0/100% 100% no-repeat;
    }

  