<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button autoHide="false" color="dark"></ion-menu-button>
      </ion-buttons>
    <ion-title>Search Members</ion-title>
  </ion-toolbar>
  <ion-searchbar color="stable"></ion-searchbar>
</ion-header>

<ion-content  padding class="background">
  <ion-item (click)="notifications()" >
      <ion-thumbnail slot="start">
          <ion-avatar><img src="../../assets/img/user_account_profile_avatar_person_businessman_old-512.png"></ion-avatar>
        </ion-thumbnail>
        <ion-label>
          Obekeng Phikiso
        </ion-label>
  </ion-item>

  <ion-item>
      <ion-thumbnail slot="start">
          <ion-avatar><img src="../../assets/img/male-avatar-profile-icon-round-man-face-vector-18307187.jpg"></ion-avatar>
        </ion-thumbnail>
        <ion-label>
          Lebogang Moleta
        </ion-label>
  </ion-item>

  <ion-item>
      <ion-thumbnail slot="start">
          <ion-avatar><img src="../../assets/img/Profile-Round-Sander-Lorier.jpg"></ion-avatar>
        </ion-thumbnail>
        <ion-label>
          Kealebogile Itumeleng
        </ion-label>
  </ion-item>

  <ion-item>
      <ion-thumbnail slot="start">
          <ion-avatar><img src="../../assets/img/lady_avatar-512.png"></ion-avatar>
        </ion-thumbnail>
        <ion-label>
          Tlhalefo Mogoe
        </ion-label>
  </ion-item>
    
</ion-content>
