.filebtn {
  opacity: 0;
  position: absolute;
  top: -100em;
  left: -100em;
}

.profile-pic {
  width: 100px;
  height: 100px;
}
ion-content.background {
  // --background: url(../../assets/Background1.png) 0 0/100%  no-repeat;
  --background: -webkit-linear-gradient(left, #dfdfeb, #e02f9c);
}

#buttonColor {
  --background: #960584;
}
.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42a948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}

.alert-danger {
  padding: 5px;
  background-color: #ffafaf; /* Red */
  color: #960303;
}
ion-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.item-avatar  {     
  width:133% !important;  
  height : 133% !important;  
  max-width: 133px !important;  //any size
  max-height: 133px !important; //any size 
}
